

.orderCard {
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  background: linear-gradient(to right, #f4cf99, #f5bd78);
  color: black;
  padding: 1.5rem;
  transition: all 0.3s ease-in-out;
}

.orderCard:hover {
  transform: translateY(-4px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.orderHeader {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 1rem;
  font-weight: 500;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 0.75rem 1rem;
  border-radius: 8px;
}

.productCard {
 background: linear-gradient(90deg, #8b765d, #fff3e0, #ffe0b2);
  border-radius: 10px;
  color: #333;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

.productImage {
  border-radius: 10px;
  max-height: 200px;
  object-fit: cover;
}
